.history/
.gradle/
.idea/
/build/
/.gradle/
!gradle/wrapper/gradle-wrapper.jar
*recommenders/
*sonarlint/
*.tar
.gradle/
build/
temp/
.idea
*.iml
*.iws
*.ipr
.classpath
.project
.settings
.log
.csv
bin/
classes/
version
logs/
/.metadata/
versionFile.txt
src/main/resources/static/test1.html
src/main/resources/static/js
src/main/resources/static/static/
src/main/resources/static/index.html
src/main/resources/static/color.less
# IntelliJ
out/

# swagger-ui
swagger-ui
src/main/resources/static/swagger/
